@font-face{
    font-family: Heat;
    src: url(HeatFont.otf);
}
@font-face{
    font-family: Athletic;
    src: url(Athletic.TTF);
}
@keyframes mymove {
    from {right: -900px;}
    to {right: calc(100vw - 1907px);}
  }
  body {
    background: linear-gradient(to bottom, #103046, #0e0d0d);  
    background-size: cover;
    margin: 0;  
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    height: auto 
    /* display: flex; tudo centralizado, pensar melhor depois.
    flex-direction: column;
    justify-content: center;
    align-items: center;  */
}
#divinfo{
    flex-direction: column;
    display: flex;
    align-self: center;
}
.pinfo{
    color:ghostwhite;
    font-family: Heat;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    padding: 15px;
    height: 50px;
}
#vd{
    position: relative;
    animation: mymove 4s 1;
    animation-timing-function: ease;
    display: flex;
}
#divmae{
    width: 100%;
    padding: 20px;
}
#divvd{
    width: 50%;
    float: right;
}
.bank{
    flex-direction: column;
    display: flex;
    max-width: 30%;
}
.header{
    height:20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#footer{
    color: whitesmoke;
    width: 100%;
    height: 100px;
    position: fixed;
}
.ppic{
    position: relative;
    animation: mymove 4s 1;
    animation-timing-function: ease;
    display: flex;
    max-width: 60%;
    /* margin: 0 auto; */
}
.title{
    width: 95%;
    font-family: Heat;
    color: whitesmoke; 
    display: flex;
    justify-content: center;
    
} 
#logo{
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100px;
}